* {
  /* border-top: 10px solid #555; */
  margin: 0;
  padding: 0;
}

/* PAGE SECTIONS */

body {
  color: #444;
  font-family: Helvetica;
  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  /* 중앙정렬할 때 사용하자! */
  /* position: relative; */
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  /* padding 앞의 20px는 위,아래 / 40px는 왼쪽,오른쪽
  여기서 20px 30px 40px 50px; 라고 작성할 경우 위,오른쪽,아래,왼쪽 순으로
  적용된다. */
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
  width: 500px;
}

/* SMALL ELEMENTS */
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
  display: inline;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  list-style: square;
  /* display: inline; */
}

li:last-child {
  margin-bottom: 0;
}

footer p {
  font-size: 16px;
}

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul{
  list-style:none ;
} */

.related-posts {
  list-style: none;
}

body {
  /* background-color: forestgreen; */
}

.first-li {
  /* font-weight: bold; */
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  /* color: rosybrown;*/
}

li:nth-child(odd) {
  /* color: turquoise; */
}

li:nth-child(even) {
  /* color: peru; */
}
/* Misconception: this won't work! */
article p:first-child {
  color: blue;
}

/* Styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color: #777; */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* LVHA */

.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px;
  display: block; */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 20px;
  padding: 15px;
  cursor: pointer;

  position: absolute;
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

p::first-line {
  font: red;
}

h2 {
  /* background-color: orange; */
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: yellow;
  color: black;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
}

/* Resolvin conglicts */
/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */

/* nav a:link,
nav p {
  font-size: 18px;
} */
/* position 
1.relative
자기 자신을 기준으로 왼쪽,오른쪽,위,아래로 위치를 변경할 수 있다.
부모 태그에 relative를 적용하고 움직이면 고정된 상태로 전체적으로
함께 움직인다.

2.absolute
부모태그 즉, 자신과 가장 가까운 상위 태그의 포지션이 relative일 때,
그 태그를 기준으로 움직인다. 만약 static 상태이면 body에 적용될 것.
겹치지 않고 떠 있는 상태로 있다.

3.fixed
최상위 태그(웹 전체면적)를 기준으로 움직이며, 타 상위 태그를 무시한다.
스크롤을 무시하고 계속 화면에 노출된다.
*/
